{% extends 'base.html' %}

{% block content %}

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
		============================================= -->
	<header id="header" class="full-header">
		<div id="header-wrap">
			<div class="container">
				<div class="header-row">

					<!-- Logo
							============================================= -->
					<div id="logo">
						<a href="/">
							<h1>Last Stop</h1>
						</a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
							============================================= -->
					<nav class="primary-menu">

						<ul class="menu-container">
							<li class="menu-item">
								<a class="menu-link" href="/gear/gear-list">
									<div>Gear</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/meetups/events">
									<div>Meet Ups</div>
								</a>
							</li>

							{% if not g.user %}
							<li class="menu-item">
								<a class="menu-link" href="/login">
									<div>Login</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/register">
									<div>Register</div>
								</a>
							</li>
							{% else %}
							<li class="menu-item">
								<a class="menu-link" href="/users/{{ g.user.id }}">
									<div>Profile</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/logout">
									<div>Logout</div>
								</a>
							</li>
							{% endif %}
						</ul>

					</nav><!-- #primary-menu end -->

				</div>
			</div>
		</div>
		<div class="header-wrap-clone"></div>
	</header><!-- #header end -->


	<!-- Page Title
		============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>Events List</h1>
			<span>The beginning to your next adventure starts here.</span>
		</div>

	</section><!-- #page-title end -->

	<!-- Content
		============================================= -->
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">

				<div class="row">
					{% for post in event %}
					<div class="entry event col-12">
						<div class="grid-inner row align-items-center g-0 p-4">
							<div class="col-md-4 mb-md-0">
								<img src="{{ post.image }}" alt="">
								<div class="entry-date">{{ post.date }}</div>
								</a>
							</div>
							<div class="col-md-8 ps-md-4">
								<div class="entry-title title-sm">
									<h2><a href="#"></a></h2>
								</div>
								<div class="entry-meta">
									Address: {{ post.address }}
								</div>
								<div class="entry-meta">
									Experience: {{ post.exp_level }}
								</div>
								<div class="entry-meta">
									Trip Length: {{ post.trip_length }}
								</div>
								<div class="entry-meta">
									Activity: {{ post.activity }}
								</div>
								<div class="entry-content">
									<a href="/meetups/{{ post.id }}" class="btn btn-secondary" disabled="disabled">Sign
										Up</a>
								</div>
							</div>

						</div>
					</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</section><!-- #content end -->



</div><!-- #wrapper end -->


{% endblock %}