{% extends 'base.html' %}

{% block content %}

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
			============================================= -->
	<header id="header" class="full-header">
		<div id="header-wrap">
			<div class="container">
				<div class="header-row">

					<!-- Logo
									============================================= -->
					<div id="logo">
						<a href="/">
							<h1>Last Stop</h1>
						</a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
									============================================= -->
					<nav class="primary-menu">

						<ul class="menu-container">
							<li class="menu-item">
								<a class="menu-link" href="/gear/gear-list">
									<div>Gear</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/meetups/events">
									<div>Meet Ups</div>
								</a>
							</li>

							{% if not g.user %}
							<li class="menu-item">
								<a class="menu-link" href="/login">
									<div>Login</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/register">
									<div>Register</div>
								</a>
							</li>
							{% else %}
							<li class="menu-item">
								<a class="menu-link" href="/users/{{ g.user.id }}">
									<div>Profile</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/logout">
									<div>Logout</div>
								</a>
							</li>
							{% endif %}
						</ul>

					</nav><!-- #primary-menu end -->

				</div>
			</div>
		</div>
		<div class="header-wrap-clone"></div>
	</header><!-- #header end -->



	<!-- Page Title
			============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>{{ event.title }}</h1>
		</div>

	</section><!-- #page-title end -->



	<!-- Content
		============================================= -->
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">

				<div class="single-event">

					<div class="row col-mb-50">
						<div class="col-md-8 col-lg-9">
							<div class="entry-image mb-0">
								<a href="#"><img src="{{ event.image }}" alt="Event Single"></a>
							</div>
						</div>

						<div class="col-md-4 col-lg-3">
							<div class="card event-meta mb-3">
								<div class="card-header">
									<h5 class="mb-0">Contact Info:</h5>
								</div>
								<div class="card-body">
									<ul class="iconlist mb-0">
										<li><i class=""></i> {{ event.user.username }}</li>
										<li><i class=""></i> {{ event.user.phone }}</li>
										<li><i class=""></i> {{ event.user.email }}</li>

									</ul>
								</div>
							</div>

							<h3>Details</h3>
							<p>{{ event.description }}</p>
							<p>To sign up please get in touch with the creator of the event.</p>

							<h3>Location</h3>
							<p>{{ event.address }} <img
									src="https://www.mapquestapi.com/staticmap/v5/map?key={{ key }}&locations={{ event.address }}"
									alt=""></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- #content end -->

	{% endblock %}