{% extends 'base.html' %}

{% block content %}

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Header
		============================================= -->
	<header id="header" class="full-header">
		<div id="header-wrap">
			<div class="container">
				<div class="header-row">

					<!-- Logo
								============================================= -->
					<div id="logo">
						<a href="/">
							<h1>Last Stop</h1>
						</a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
								============================================= -->
					<nav class="primary-menu">

						<ul class="menu-container">
							<li class="menu-item">
								<a class="menu-link" href="/gear/gear-list">
									<div>Gear</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/meet-ups">
									<div>Meet Ups</div>
								</a>
							</li>

							{% if not g.user %}
							<li class="menu-item">
								<a class="menu-link" href="/login">
									<div>Login</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/register">
									<div>Register</div>
								</a>
							</li>
							{% else %}
							<li class="menu-item">
								<a class="menu-link" href="/users/{{ g.user.id }}">
									<div>Profile</div>
								</a>
							</li>
							<li class="menu-item">
								<a class="menu-link" href="/logout">
									<div>Logout</div>
								</a>
							</li>
							{% endif %}
						</ul>

					</nav><!-- #primary-menu end -->

				</div>
			</div>
		</div>
		<div class="header-wrap-clone"></div>
	</header><!-- #header end -->



	<!-- Page Title
		============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>{{ gear.title }}</h1>
		</div>

	</section><!-- #page-title end -->

	<!-- Content
		============================================= -->
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">

				<div class="single-product">
					<div class="product">
						<div class="row gutter-40">

							<div class="col-md-5">

								<!-- Product Single - Gallery
									============================================= -->
								<div class="product-image">
									<div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
										<div class="flexslider">
											<div class="slider-wrap" data-lightbox="gallery">
												<div class="slide" data-thumb="{{ gear.image }}"><a
														href="{{ gear.image }}" title="{ gear.title }"
														data-lightbox="gallery-item"><img src="{{ gear.image }}"
															alt="{ gear.title }"></a>
												</div>
											</div>
										</div>
									</div>
								</div><!-- Product Single - Gallery End -->
							</div>

							<div class="col-md-5 product-desc">

								<div class="d-flex align-items-center justify-content-between">

									<!-- Product Single - Price
										============================================= -->
									<div class="product-price">${{ gear.price }}</div>
									<!-- Product Single - Price End -->

								</div>

								<div class="line"></div>

								<!-- Product Single - Short Description
									============================================= -->
								<div>
									<h5>Condition</h5>
									<p> {{ gear.condition }}</p>
								</div>

								<div>
									<h5>Description</h5>
									<p> {{ gear.description }}</p>
								</div>

								<div>
									<h5>Location</h5>
									<p>{{ gear.user.city }} {{ gear.user.state }}, {{ gear.user.zip }}</p>
								</div>
								<div>
									<h5>Contact Info</h5>
									<p> {{ gear.user.username }} | {{ gear.user.phone }} | {{ gear.user.email }}</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</section><!-- #content end -->

</div><!-- #wrapper end -->

{% endblock %}