{% extends 'base.html' %}

{% block content %}

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Content
		============================================= -->
	<section id="content">
		<div class="content-wrap py-0">

			<div class="section p-0 m-0 h-100 position-absolute"
				style="background: url('static/images/IMG_0826.jpg') center center no-repeat; background-size: cover;">
			</div>

			<div class="section bg-transparent min-vh-100 p-0 m-0">
				<div class="vertical-middle">
					<div class="container-fluid py-5 mx-auto">
						<div class="center dark">
							<a href="/">
								<h1>Home</h1>
							</a>
						</div>

						<div class="card mx-auto rounded-0 border-0"
							style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
							<div class="card-body" style="padding: 40px;">
								<form id="login-form" name="login-form" class="mb-0" action="#" method="post">
									<h3>Login to your Account</h3>
									{{ form.hidden_tag() }}
									{% for field in form if field.widget.input_type != 'hidden' %}
									{% for error in field.errors %}
									<span class="text-danger">{{ error }}</span>
									{% endfor %}
									{% endfor %}

									<div class="row">
										<div class="col-12 form-group">
											{{ form.username.label}}: {{ form.username(class="form-control not-dark")}}
										</div>

										<div class="col-12 form-group">
											{{ form.password.label}}: {{ form.password(class="form-control not-dark")}}
										</div>

										<div class="col-12 form-group">
											<button class="button button-3d button-black m-0" id="login-form-submit"
												name="login-form-submit" value="login">Login</button>
											<a href="/register" class="float-end">Not registered?</a>
										</div>
									</div>
								</form>


							</div>
						</div>

						<div class="text-center dark mt-3"><small>Copyrights &copy; All Rights Reserved by Last Stop
								Adventures
								Inc.</small></div>
					</div>
				</div>
			</div>

		</div>
	</section><!-- #content end -->

</div><!-- #wrapper end -->

{% endblock %}